<style>
    #svcMenu {
        text-align: center;
    }
</style>
<div id="minNavbar" class="navbar navbar-inverse">
    <div id="svcMenu">
        @Html.ActionLink("Overview", "Overview")
        @Html.ActionLink("Reservations", "Reservations")
        @Html.ActionLink("Customers", "Customers")
        @Html.ActionLink("Rooms", "Rooms")
    </div>
</div>
