<style>
    #svcMenu {
        line-height:45px;
        text-align: center;
    }
    #svcMenu>span{
        margin:0 20px;
        padding:20px;
    }
</style>
<div id="minNavbar" class="navbar navbar-inverse">
    <div id="svcMenu">
        <span>@Html.ActionLink("Overview", "Overview","Service")</span>
        <span>@Html.ActionLink("Reservations", "Reservations","Service")</span>
        <span>@Html.ActionLink("Customers", "Customers","Service")</span>
        <span>@Html.ActionLink("Rooms", "Rooms","Service")</span>
    </div>
</div>

