@model HotelApplication.ViewModels.CustomerServiceViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ServiceNavBar")

<h2>Customers</h2>

<hr />
<button onclick="location.href='@Url.Action("NewForm", "Customer")'" class="btn btn-primary">Add Customer</button>
<hr />

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
           var table =  $("#customers").DataTable({
                ajax: {
                    url: "/api/Services/Customers",
                    dataSrc: "",
                },

                columns: [
                    {
                        data: "FirstName"
                    },

                    {
                        data: "LastName"
                    },

                {
                    data: "Id",
                    render: function (data, type, customer) {
                        var editBtn = "<a href='/Customer/CustomerDetails/" + data + "' class='btn btn-primary' data-customer-id= >Edit</a>";
                        var deleteBtn = "<button class='btn btn-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                        return editBtn + deleteBtn

                    }
                }

                ]
            });


            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Services/Customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });

            //$("#customers").on("click", ".js-edit", function () {
            //    var button = $(this);
            //    bootbox.confirm("Do you want to edit this user?", function (result) {
            //        if (result) {
            //            $.ajax({
            //                url: "/api/Services/Customers/" + button.attr("data-customer-id"),
            //                method: "PUT",
            //                success: function (result) {
            //                    console.log("Success!");
            //                }
            //            })
            //        }
            //    })
            //});
        })
    </script>
}