@model IEnumerable<HotelApplication.Models.Reservation>
@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ServiceNavBar")

<h2>Reservations</h2>

<hr />
<button onclick="location.href='@Url.Action("NewForm", "Reservation")'" class="btn btn-primary">Create Reservation</button>
<hr />

<table id="reservations" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer Details</th>
            <th>Room Details</th>
            <th>Status</th>
            <th>Payment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#reservations").DataTable({
                ajax: {
                    url: "/api/Services/Reservations",
                    dataSrc: "",
                },

                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "customer",
                        render: function (data, type, reservation) {
                            var fullName= data.firstName+" "+data.lastName;
                            return "<a href='/Customer/CustomerDetails/" +reservation.customerId+"'>"+fullName+"</a>"
                        }
                    },
                    {
                        data: "room",
                        render: function (data, type, reservation) {
                            return "<a href='/Room/RoomDetails/"+reservation.roomId+"'>"+reservation.roomId+"</a>"
                        }
                    },
                    {
                        data: "rStatus",
                        render: function (data) {
                            return " " + data.name;
                        }
                    },
                    {
                        data:"id",
                    },
                    {
                        data: "id",
                        render: function (data,type,reservation) {
                            var confirmBtn = "<button class='btn btn-success js-status' data-reservation-id='"+ data+ "' data-status='confirm'>Confirm</button>";
                            var cancelBtn = "<button class='btn btn-warning js-status' data-reservation-id='" + data + "'data-status='cancel'>Cancel</button>";
                            var deleteBtn = "<button class='btn btn-danger js-delete' data-reservation-id=" + data + ">Delete</button>";
                            return confirmBtn + cancelBtn + deleteBtn;
                        }
                    }
                ]
            })
            $("#reservations").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this reservation?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Services/Reservations/" + button.attr("data-reservation-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });

            $("#reservations").on("click", ".js-status", function () {
                var button = $(this);

                bootbox.confirm("Do you want to cancel this reservation?", function (result) {
                    if (result) {

                        $.ajax({
                            url: "/api/Services/Reservations/Cancel/" + button.attr("data-reservation-id") + "," + button.attr("data-status"),
                            method: "PUT",
                            success: function () {
                                table.ajax.reload();
                            }
                        })
                    }
                });
            });
        })



    </script>
}