@model IEnumerable<HotelApplication.Models.Reservation>
@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ServiceNavBar")

<h2>Reservations</h2>

<hr />
<button onclick="location.href='@Url.Action("NewForm", "Reservation")'" class="btn btn-primary">Create Reservation</button>
<hr />

<table id="reservations" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer Details</th>
            <th>Room Details</th>
            <th>Status</th>
            <th>Payment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts{
    <script>
        var tab;
        $(document).ready(function () {
            var table = tab = $("#reservations").DataTable({
                ajax: {
                    url: "/api/Services/Reservations",
                    dataSrc: "",
                },

                columns: [
                    {
                        data: "Customer",
                        render: function (data, type, reservation) {
                            var fullName= data.FirstName+" "+data.LastName;
                            return "<a href='/Customer/CustomerDetails/" +reservation.CustomerId+"'>"+fullName+"</a>"
                        }
                    },
                    {
                        data: "Room",
                        render: function (data, type, reservation) {
                            return "<a href='/Room/RoomDetails/"+reservation.RoomId+"'>"+reservation.RoomId+"</a>"
                        }
                    },
                    {
                        data: "RStatus",
                        render: function (data) {
                            return " " + data.Name;
                        }
                    },
                    {
                        data:"Id",
                    },
                    {
                        data: "Id",
                        render: function (data,type,reservation) {
                            var confirmBtn = "<button class='btn btn-success js-confirm' data-reservation-id="+ data+ ">Confirm</button>";
                            var cancelBtn = "<button class='btn btn-warning js-cancel' data-reservation-id=" + data + ">Cancel</button>";
                            var deleteBtn = "<button class='btn btn-danger js-delete' data-reservation-id=" + data + ">Delete</button>";
                            return confirmBtn + cancelBtn + deleteBtn;
                        }
                    }
                ]
            })
        })

        $("#reservations").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Are you sure you want to delete this reservation?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/Services/Reservations/" + button.attr("data-reservation-id"),
                        method: "DELETE",
                        success: function () {
                            tab.row(button.parents("tr")).remove().draw();
                        }
                    })
                }
            });
        });

        $("#reservations").on("click", ".js-cancel", function () {
            var button = $(this);

            bootbox.confirm("Do you want to cancel this reservation?", function (result) {
                if (result) {
                    
                    $.ajax({
                        url: "/api/Services/Reservations/Cancel/" + button.attr("data-reservation-id"),
                        method: "PUT",
                        success: function () {
                            tab.ajax.reload();
                        }
                    })
                }
            });
        });

        $("#reservations").on("click", ".js-confirm", function () {
            var button = $(this);

            bootbox.confirm("Do you want to confirm this reservation?", function (result) {
                if (result) {

                    $.ajax({
                        url: "/api/Services/Reservations/Confirm/" + button.attr("data-reservation-id"),
                        method: "PUT",
                        success: function () {
                            tab.ajax.reload();
                        }
                    })
                }
            });
        });
    </script>
}