@model IEnumerable<HotelApplication.Models.Room>
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ServiceNavBar")

<h2>Rooms</h2>

<hr />
<button onclick="location.href='@Url.Action("NewForm", "Service")'" class="btn btn-primary">New Customer</button>
<hr />

<!---  SMALL ROOMS-->
<h3>Small Rooms</h3>
<table id="smRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!---  MEDIUM ROOMS-->
<h3>Medium Rooms</h3>
<table id="mdRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!---  LARGE ROOMS-->
<h3>Large Rooms</h3>
<table id="lgRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#smRooms").DataTable({
                ajax: {
                    url: "/api/Services/Rooms",
                    dataSrc: "",
                },

                columns: [
                    {
                        data: "Id"
                    },

                    {
                        data: "Id"
                    },

                {
                   /* data: "Id",
                    render: function (data, type, customer) {
                        var deleteBtn = "<a href='/Service/CustomerDetails/" + data + "' class='btn btn-primary' data-customer-id= >Edit</a>";
                        var editBtn = "<button class='btn btn-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                        return deleteBtn + editBtn
                    */
                    data:"Id"
                    }
                

                ]
            });
        })
    </script>
}