@model IEnumerable<HotelApplication.Models.Room>
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ServiceNavBar")

<h2>Rooms</h2>

<hr />
<hr />

<!---  SMALL ROOMS-->
<h3>Small Rooms</h3>
<table id="smRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!---  MEDIUM ROOMS-->
<h3>Medium Rooms</h3>
<table id="mdRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!---  LARGE ROOMS-->
<h3>Large Rooms</h3>
<table id="lgRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        var tableRender = {
            Sm: RenderTable("#smRooms"),
            Md: RenderTable("#mdRooms"),
            Lg: RenderTable("#lgRooms")
        }
        $(document).ready(tableRender.Sm,tableRender.Md,tableRender.Lg);

        function RenderTable(table) {
            var statusType = table==="#smRooms"?1:(table==="#mdRooms"?2:3)
            $(table).DataTable({
                ajax: {
                    url: "/api/Services/Rooms",
                    dataSrc: function (json) {
                        return json.filter(c=> c.RoomTypeId === statusType);
                        //return json.slice(0,20);
                    },
                },

                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "RoomStatus",
                        render: function (data) {
                            return " " + data.Name;
                        }
                    },
                {
                    data: "Id",
                    render: function (data) {
                        return "<a href='/Room/RoomDetails/" + data + "' class='btn btn-primary' data-customer-id= >View Details</a>";

                        /* return "<button class='btn btn-primary'>View Details</button>" */
                    }
                }
                ]
            });
        }
    </script>
}