
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ServiceNavBar")

<h2>Rooms</h2>

<hr />
<button onclick="location.href='@Url.Action("NewForm", "Service")'" class="btn btn-primary">New Customer</button>
<hr />

<!---  SMALL ROOMS-->
<h3>Small Rooms</h3> 
<table id="smRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!---  MEDIUM ROOMS-->
<h3>Medium Rooms</h3>
<table id="mdRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!---  LARGE ROOMS-->
<h3>Large Rooms</h3>
<table id="lgRooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Status</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
       
    </script>
}